.release img {
   float: right;
   height: 200px;
}

/**
 * Fix float problem.
 * http://www.positioniseverything.net/easyclearing.html
 */
.clearfix:after  {
   content: ".";
   display: block;
   height: 0;
   clear: both;
   visibility: hidden;
}
