body {
   font-family: monospace;
}

/**
 * Fix float problem.
 * http://www.positioniseverything.net/easyclearing.html
 */
.clearfix:after  {
   content: ".";
   display: block;
   height: 0;
   clear: both;
   visibility: hidden;
}

#container {
   width: 800px;
   margin: 0 auto;
}

#container #intro h1 {
   margin: 30px 0;
}

#container #intro p {
   margin: 20px 0;
}

.release {
   margin-top: 15px;
   border-top: 1px dashed silver;
   padding: 15px;
}

.release img {
   float: right;
   height: 200px;
   padding: 2px;
   margin: 8px;
}

